{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Empréstimos BlibliotecaEMG{%  endblock %}

{% block content%}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1><i class="fas fa-book-reader"></i>BIBLIOTECA-EMPRÉSTIMOS<i class="fas fa-handshake m-2"></i></h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/createem" class="btn btn-success" id="btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <form method="get" action="/emprestimo">
            <input type="text" id="searchem" name="searchem" class="form-control" placeholder="Buscar destinatário:">
        </form>
    </div>
        <div class="col-8 m-auto pt-2 pb-2 filter-div">
            <span id="filtrar-por" class="col-2">Filtrar por:</span>
            <select name="filter" id="filter" class="form-control">
                <option value="">Escolha uma opção:</option>
                <option value="emprestado">Livros emprestados</option>
                <option value="devolvido">Livros devolvidos</option>
            </select>
            <select name="filter-alfabetica" id="filterAlf" class="form-control">
                <option value="">Ordenar por:</option>
                <option value="crescente">A-Z</option>
                <option value="decrescente">Z-A</option>
                <option value="recentes">Recentes</option>
                <option value="antigos">Antigos</option>
                <option value="serie">Série</option>
            </select>
            <form method="GET" id="form-buscar-data">
                <input type="text" id="buscar_data" name="buscar_data_emp" placeholder="Buscar por ano: ">
            </form>
            <a href="/emprestimo" class="btn btn-warning" id="recarregar"><i class="fas fa-undo"></i></a>
        </div>
    <div class="col-2 m-auto mb-2 p-1 text-center total-div">
        <h5 class="text-center" id="total">{% if db %}Total de registros: {{db.paginator.count}}{% else %}Total de registros: {{filter.paginator.count}}{% endif %}</h5>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <table class="table" >
            <thead>
              <tr id="cabecalho">
                <th scope="col">#</th>
                <th scope="col">Nome do Livro</th>
                <th scope="col">Data Emprestimo</th>
                <th scope="col">Destinatário</th>
                <th scope="col">Série</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
{% if db %}                      
            {% for dbs in db %}
            {% if dbs.estado != 'devolvido' %}
              <tr id="emprestado">
            {% else %}
              <tr id="devolvido">
            {% endif %}
                <td>{{dbs.id}}</td>
                <td>{{dbs.nome}}</td>
                <td>{{dbs.dataem}}</td>
                <td>{{dbs.pessoa}}</td>
                <td>{{dbs.serie}}</td>
                <td id="td">
                    <a href="/viewem/{{dbs.id}}/" class="btn btn-dark" >Visualizar</a>
                    <a href="/editemp/{{dbs.id}}/" class="btn btn-primary" >Editar</a>
                    <a href="/deleteem/{{dbs.id}}/" class="btn btn-danger btnDel" >Deletar</a>
                    <a href="/changestatus/{{dbs.id}}/"><i class="fas fa-book" id="fa-book"></i></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            <a href="/tableem" class="btn btn-warning" id="gerar-pdf">GERAR PDF</a>
            <a href="/" class="btn btn btn-primary"><i class="fas fa-arrow-left"></i> LIVROS</a>
        </p>
    </div>
    <div class="pagination">
        <nav aria-label="..." class="pagination">
            <ul class="pagination">
                {% if db.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{db.previous_page_number}}" tabindex="-1" aria-disabled="true" id="anterior">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                {% endif%}

                {% for num in db.paginator.page_range %}
                    {% if num == db.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% else %}   
                        <li class="page-item">
                            <a class="page-link" href="?page={{num}}" id="num">{{ num }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                {% if db.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{db.next_page_number}}" id="proximo">Próximo</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próximo</a>
                    </li>    
                {% endif %}    
            </ul>
        </nav>
    </div>
{% else %} 
            {% for dbs in filter %}
            {% if dbs.estado != 'devolvido' %}
              <tr id="emprestado">
            {% else %}
              <tr id="devolvido">
            {% endif %}
                <td>{{dbs.id}}</td>
                <td>{{dbs.nome}}</td>
                <td>{{dbs.dataem}}</td>
                <td>{{dbs.pessoa}}</td>
                <td>{{dbs.serie}}</td>
                <td id="td">
                    <a href="/viewem/{{dbs.id}}/" class="btn btn-dark" >Visualizar</a>
                    <a href="/editemp/{{dbs.id}}/" class="btn btn-primary" >Editar</a>
                    <a href="/deleteem/{{dbs.id}}/" class="btn btn-danger btnDel" >Deletar</a>
                    <a href="/changestatus/{{dbs.id}}/"><i class="fas fa-book" id="fa-book"></i></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            <a href="/tableem" class="btn btn-warning" id="gerar-pdf">GERAR PDF</a>
            <a href="/" class="btn btn btn-primary"><i class="fas fa-arrow-left"></i> LIVROS</a>
        </p>
    </div>
    <div class="pagination">
        <nav aria-label="..." class="pagination">
            <ul class="pagination">
                {% if filter.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{request.get_full_path}}&page={{filter.previous_page_number}}" tabindex="-1" aria-disabled="true" id="anterior">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                {% endif%}

                {% for num in filter.paginator.page_range %}
                    {% if num == filter.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% else %}   
                        <li class="page-item">
                            <a class="page-link" href="{{request.get_full_path}}&page={{num}}" id="num">{{ num }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                {% if filter.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{request.get_full_path}}&page={{filter.next_page_number}}" id="proximo">Próximo</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próximo</a>
                    </li>    
                {% endif %}    
            </ul>
        </nav>
    </div>
{% endif %}        
{% endblock %}