{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Adicionar/Editar{%  endblock %}

{% block content%}
    <div class="col-6 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro dos Livros</h1>
        {% if db %}
            <h3 id="edicao">Ultima edição: {{db.editado_em}}</h3>
        {% endif %}
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"> </div>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
            {% csrf_token %}
        <!--{{form.as_p}}-->
            <br>
            <h3>Preencha os atributos: </h3>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Nome do Livro:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.nome}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Autor:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.autor}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Data de obtenção:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.data}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Quantidade:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.quantidade}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Editora:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.editora}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Tipo:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.tipo}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Localização:
                </div>
                <div class="col-8 p-2 text-start">
                    {{form.localizacao}}
                </div>
            </div>
            <div class="p-2">
                <a href="/" class="btn btn-info mt-4">Voltar</a>
                <input type="submit" class="btn btn-success mt-4" id="salvar" value="Salvar">
            </div>
        </form>
    </div>
{% endblock %}
