{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Adicionar{%  endblock %}

{% block content%}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro dos Empréstimos</h1>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"> </div>
        <form name="formem" id="formem" action="{% if data %}/updateem/{{db.id}}/{% else %}/createem/{% endif %}" method="post">
            {% csrf_token %}
        <!--{{form.as_p}}-->
            <br>
            <h3>Preencha os atributos: </h3>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Nome do Livro:
                </div>
                <div class="col-8 p-2 text-start">
                    <select class="js-example-basic-multiple" id="livros" name="states[]" multiple="multiple">
                    {% for dbs in db %}
                        <option value="{{dbs.id}}">{{dbs.nome}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Data:
                </div>
                <div class="col-8 p-2 text-start">
                    <input type="date" name="data"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Destinatário:
                </div>
                <div class="col-8 p-2 text-start">
                    <input type="text" name="dest"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Quantidade:
                </div>
                <div class="col-8 p-2 text-start">
                    <input type="text" name="quant"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Série:
                </div>
                <div class="col-8 p-2 text-start">
                    <select name="serie" id="serie">
                        <option value="EF 4° Ano">EF 4° Ano</option>
                        <option value="EF 5° Ano">EF 5° Ano</option>
                        <option value="1° Ano">1° Ano</option>
                        <option value="2° Ano">2° Ano</option>
                        <option value="3° Ano">3° Ano</option>
                        <option value="4° Ano">4° Ano</option>
                        <option value="5° Ano">5° Ano</option>
                        <option value="6° Ano">6° Ano</option>
                        <option value="7° Ano">7° Ano</option>
                        <option value="8° Ano">8° Ano</option>
                        <option value="9° Ano">9° Ano</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 text-end">
                    Estado:
                </div>
                <div class="col-8 p-2 text-start">
                    <input type="text" name="estado" value="emprestado"/>
                </div>
            </div>
            <div class="p-2">
                <a href="/emprestimo" class="btn btn-info mt-4">Voltar</a>
                <input type="submit" class="btn btn-success mt-4" id="salvar" value="Salvar">
            </div>
        </form>
    </div>
{% endblock %}
