{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Tabela para PDF{%  endblock %}

{% block content%}
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1><i class="fas fa-download"></i>BIBLIOTECA-EMPRÉSTIMOS<i class="far fa-file-pdf"></i></h1>
    </div>
    <div class="main" style="background-image: url('../static/img/livros.jpg');">
        <div class="col-8 m-auto pt-2 pb-2 text-center" id="dados">
            <table class="table table-bordered" >
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">DATA</th>
                    <th scope="col">DESTINATÁRIO</th>
                    <th scope="col">QUANTIDADE</th>
                    <th scope="col">SÉRIE</th>
                    <th scope="col">LIVRO</th>
                    <th scope="col">ESTADO</th>
                  </tr>
                </thead>

               <tbody>
                {% for dbs in db %}
                  <tr>
                    <th>{{dbs.id}}</th>
                    <td>{{dbs.dataem}}</td>
                    <td>{{dbs.pessoa}}</td>
                    <td>{{dbs.quantidadeem}}</td>
                    <td>{{dbs.serie}}</td>
                    <td>{{dbs.nome}}</td>
                    <td>{{dbs.estado}}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            <input type="button" value="BAIXAR" class="btn btn-danger" onclick="funcao_pdf()">
            <a href="/emprestimo" class="btn btn-info">VOLTAR</a>
        </p>
    </div>
{% endblock %}