{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Tabela para PDF{%  endblock %}

{% block content%}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1><i class="fas fa-download"></i>BIBLIOTECA<i class="far fa-file-pdf"></i></h1>
    </div>
    <div class="col-2 m-auto mb-4 pt-2 pb-2 text-center">
      <select name="filter_livro" id="etiqueta" class="form-control">
        <option value="">Escolha uma opção:</option>
        <option value="normal">PDF Normal</option>
        <option value="etiqueta">PDF para Etiqueta</option>
    </select>
    </div>
{% if db %}
   <div class="main" style="background-image: url('../static/img/livros.jpg');">
    <div class="col-8 m-auto pt-2 pb-2 text-center" id="dados">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Autor</th>
                <th scope="col">Data</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Editora</th>
                <th scope="col">Tipo</th>
              </tr>
            </thead>

           <tbody>
            {% for dbs in db %}
              <tr>
                <th>{{dbs.id}}</th>
                <td>{{dbs.nome}}</td>
                <td>{{dbs.autor}}</td>
                <td>{{dbs.data}}</td>
                <td>{{dbs.quantidade}}</td>
                <td>{{dbs.editora}}</td>
                <td>{{dbs.tipo}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% elif table %}
  <div class="container" style="background-image: url('../static/img/livros.jpg');">
    <div class="main">
        <div class="row"  id="dados">
        {% for dbs in table %}
          <div style="width: 100px; height: auto; border: 1px solid black; margin: 4px; text-align: center; font-size: 30px;" id="items"><!--  tirar float left depois -->
            {% if dbs.tipo == 'Infantil' %}
                  I<br>
            {% elif dbs.tipo == 'Infanto-juvenil' %}
                  IJ<br>
            {% else %}
              {{dbs.tipo|slice:":3"| upper}}<br>
            {% endif %}
            {{dbs.nome| cut:" "| slice:":3"| upper}} <br>
            {{dbs.autor|slice:":3"| upper}}
          </div>
        {% endfor %}
        </div>
    </div>
  </div>
{% endif %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <p>
            {% if db %}
                <input type="button" value="BAIXAR" class="btn btn-danger" onclick="funcao_pdf()">
            {% elif table %}
                <input type="button" value="BAIXAR" class="btn btn-danger" onclick="funcao_etiqueta()">
            {% endif %}
            <a href="/" class="btn btn-info">VOLTAR</a>
        </p>
    </div>
{% endblock %}