{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Visualizar{%  endblock %}

{% block content%}
    <div class="col-8 m-auto mt-5 pt-1 pb-1 text-center">
        <h1>Visualização do <strong id="name">{{db.nome}}</strong></h1>
    </div>
    <div class="col-8 m-auto text-center dados-view" id="dados">
        <table>
          <caption align="top" class="text-center">Tabela</caption>
          <tr>
            <th>ID</th>
            <td>{{db.id}}</td>
          </tr>
          <tr>
            <th>Nome do Livro:</th>
            <td>{{db.nome}}</td>
          </tr>
          <tr>
            <th>Data de Emprestimo:</th>
            <td>{{db.dataem}}</td>
          </tr>
          <tr>
            <th>Destinatário:</th>
            <td>{{db.pessoa}}</td>
          </tr>
          <tr>
            <th>Quantidade de livros</th>
            <td>{{db.quantidadeem}}</td>
          </tr>
          <tr>
            <th>Criado em</th>
            <td>{{db.criado_emp}}</td>
          </tr>
          <tr>
            <th>Série</th>
            <td>{{db.serie}}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{db.estado}}</td>
          </tr>
          <tr>
          </tr>
        </table>
    </div>
    <div class="col-8 m-auto mt-4 pt-1 pb-1 text-center">
        <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="btn btn-info">VOLTAR</a>
        <input type="button" value="BAIXAR PDF" class="btn btn-danger" onclick="funcao_pdf()">
    </div>
{% endblock %}
